
 @import "tailwindcss";
 /* @plugin "daisyui" {
  themes: dark --default, light --prefersdark;
  themes: dark --default;
class="dark"
animate-slideDown
 } */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* *{
@apply bg-[#1f242d]
#04bfff
#d0d1ce
#324155
} */

